*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section h1{
    text-align: center;
    padding: 20px;
}

.carousel-inner {
    margin-top: 150px;
}

.card{
    margin-top: 30%;
}

.card-body, a {
    text-align: center;
}


